.main-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: 100vw;

    .icon-container {
        display: flex;
        gap: 10px;
        align-items: center;
        cursor: pointer;
    }

    .logo {
        height: 60px;
        padding-top: 10px;

    }

    .header {
        display: flex;
        justify-content: center;
        background-color: gray;
        padding: 5px 0;
    }

    .code-container {
        flex-grow: 1;
        display: grid;
        grid-template-columns: 3fr 2fr;
        gap: 10px;
        background-color: white;
        padding: 10px;

        .io-container {
            background-color: #EDEDED;
            display: flex;
            flex-direction: column;

            .io-header {
                padding: 15px;
                display: flex;
                justify-content: space-between;
            }

            textarea {
                padding: 10px;
                resize: none;
                flex-grow: 1;
                border: none;
                font-size: 0.9rem;
            }

            textarea:focus {
                outline: none;
            }

            button {
                border: none;
            }
        }

        .editor-container {
            grid-row: 1 / 3;
        }
    }

    .page-loader {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;

        .loader {
            width: 50px;
            height: 50px;
            animation: 0.8s loader infinite linear;
            border-radius: 50%;
            background-color: transparent;
            border: 5px solid gray;
            border-left-color: rgba(128, 128, 128, 0.268);
        }
    }

}


@keyframes loader {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}