.material-symbols-outlined {
    cursor: pointer;
}

.right-container {
    background: linear-gradient(135deg, #dbeafe, #c7d2fe);
    color: #000000;
    padding: 20px;
    height: 100vh;
    overflow-y: scroll;
    font-family: 'Poppins', sans-serif;

    .heading {
        display: flex;
        justify-content: space-between;
        padding: 10px 0px;
        border-bottom: 2px solid black;
        align-items: center;

        button {
            cursor: pointer;
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
            background: linear-gradient(90deg, #00c9ff, #92fe9d);
            color: #0d0d0d;
            border: none;
            border-radius: 25px;
            padding: 8px 16px;
            transition: all 0.3s ease;
        }

        button:hover {
            background: linear-gradient(90deg, #ff4e50, #f9d423);
            color: #fff;
            transform: scale(1.04);
        }

    }

    .folders-container {

        .folders-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid black;
            padding: 15px 0px;

            .left-folders {
                display: flex;
                align-items: center;
                gap: 6px;
                font-size: 1.2rem;
                font-weight: 550;

                .material-symbols-outlined.filled {
                    color: #FFCA29;
                    font-variation-settings:
                        "FILL" 1,
                        "wght" 400,
                        "GRAD" 0,
                        "opsz" 24;
                }
            }

            .right-folders {
                display: flex;
                align-items: center;
                gap: 6px;

                button {
                    cursor: pointer;
                    font-family: 'Poppins', sans-serif;
                    font-weight: 600;
                    background: linear-gradient(90deg, #00c9ff, #92fe9d);
                    color: #0d0d0d;
                    border: none;
                    border-radius: 25px;
                    padding: 8px 16px;
                    transition: all 0.3s ease;
                }

                button:hover {
                    background: linear-gradient(90deg, #ff4e50, #f9d423);
                    color: #fff;
                    transform: scale(1.04);
                }

            }
        }

        .cards-container {
            padding: 15px 0px;
            display: flex;
            flex-wrap: wrap;
            gap: 25px;
            justify-content: space-between;

            .cards {
                background: linear-gradient(145deg, #ffffff, #e0e7ff);
                border: 1px solid #d1d5db;
                border-radius: 12px;
                padding: 1rem;
                box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
                transition: transform 0.3s ease, box-shadow 0.3s ease;
                display: flex;
                width: 45%;
                gap: 10px;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;

                img {
                    width: 40px;
                }

                .name-of-file {
                    display: flex;
                    flex-direction: column;
                }
            }

            .cards:hover {
                transform: scale(1.03);
                box-shadow: 0 10px 24px rgba(0, 0, 0, 0.15);
            }

        }
    }
}