.modal-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(99, 98, 98, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;

    .create-folder-form {
        width: 400px;
        height: 100px;
        background-color: rgb(243, 241, 241);
        padding: 50px;
        border-radius: 10px;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 20px;
        box-shadow: 4px 4px 10px gray;

        .close {
            position: absolute;
            top: 15px;
            right: 15px;
        }

        .input-container {
            display: flex;
            gap: 15px;

            input {
                flex-grow: 1;
                padding: 10px;
                color: 'black';
                border: none;
                background-color: rgba(207, 206, 206, 0.595);
                border-radius: 6px;
                font-family: 'Poppins', sans-serif;

            }

            button {
                padding: 10px;
                border-radius: 6px;
                border: none;
                background-color: black;
                color: white;
                cursor: pointer;
                transition-duration: 0.2s;
                font-family: 'Poppins', sans-serif;

            }

            button:hover {
                background-color: rgb(55, 54, 54);
                font-family: 'Poppins', sans-serif;

            }
        }
    }
}